.test{
    height: 300px;
    width: 300px;
    background-color: red;
}

.flex{
    display: flex;
    align-items: center;
}

.mintBtn{
    width: 200px;
    height: 80px;
    border-radius: 20px;
    background-color: blue;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.imageTitle{
    margin-bottom: 30px;
}

.imageOE{
    border-radius: 20px;
}